.heading
{
  font-size: 25px;
  width: 100%;
  margin: 0px;
  border-radius: 5px;
  box-shadow: 2px 14px 5px yellow;
  border: double yellow;
  font-family: cursive;
  font-weight: bold;
  font-style: italic;
  font-variant: initial;
  font-display:inherit;
  
}
.note
{
  font-size: 15px;
  color: black;
}
body
{
  background-size: contain;	
}
  #song
  {
  	font-size: 20px;
  	margin: 15px;
      
  }
    canvas 
  {
    border-style: ridge ;
    animation-name: canvas1;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    margin-top: 50px;
    border-radius: 20px;
    border-top: yellow;
    border-bottom: red;
    border-left: snow;
    border-right: rgb(65, 0, 102);
    
  }














@keyframes canvas1{
    from{box-shadow: 10px 10px 10px yellow;}
    to{box-shadow: 10px 10px 10px red}
}















@keyframes canvas1{
    from{box-shadow: 10px 10px 10px yellow;}
    to{box-shadow: 10px 10px 10px red}
}

